{% if game_list %}

    {% for game in game_list%}
        <p>
        <a href = "{%url 'marstracker:game-detail' game.id %}">{{game}}</a>

        {% for game_result in game_results%}
            {% if game.id == game_result.game_id %}
                <li>
                    Player: {{game_result.player}} Final score: {{game_result.final_score}} 
                    <a href = "{%url 'marstracker:game-update' game.id game_result.player.id %}">Edit</a>
                    <a href = "{%url 'marstracker:game-delete' game.id %}">Delete</a>

                </li>
            {% endif %}
        {% endfor %}
        </p>
    {% endfor %}

{% else %}
    <p>No games have been played</p>
{% endif %}

<br>
<a href="{% url 'marstracker:game-add' %}"> Add game </a>
<a href="{% url 'marstracker:index' %}"> Back</a>
