
{% extends 'marstracker/base.html' %}
{% block title %}{{ settings.APP_NAME }}{% endblock %}
{% block content %}
    {% if username %}
        <p>Welcome,{{ username }}!</p>
    {% endif %}

    <a href="{% url 'marstracker:game-list' %}">List of games</a>
    <br>
    <a href="{% url 'marstracker:player-list' %}">List of players</a>
    <br>

    {% if username %}
        <a href="{% url 'marstracker:logout' %}">Logout</a>
    {% else %}
        <a href="{% url 'marstracker:login' %}">Login</a>
    {% endif %}

{% endblock %}


